---
import { AstroIcon, TailwindIcon, DaisyIcon } from "./icons";
---

<footer class="p-3 bg-base-200">
  <div class="text-sm grid place-items-center">
    <p>Developed by
      <a
        href="https://github.com/tm10ymhp"
        target="_blank"
        class="font-bold"
      >
      Alejandro Maturrano
      </a>
    </p>
    <p class="font-light">{'<tm10ymhp@protonmail.com>'}</p>
    <div class="mt-3 flex flex-row gap-5 justify-center items-center">
      <span class="inline-block w-14 relative top-0.5"><AstroIcon /></span>
      <span class="inline-block w-24"><TailwindIcon /></span>
      <span class="inline-block w-[3.25rem]"><DaisyIcon /></span>
    </div>
  </div>
</footer>
